.proposal .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 97px;
  position: relative;
  padding: 20px;
}

.proposal__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 110px;
}

.proposal-illustration {
  top: 17px;
  right: 0;
  z-index: 0;
  width: 600px;
}

.proposal .message__title {
  font-weight: 500;
  font-size: 30px;
  color: var(--black);
  margin: 0 0 36px 0;
}

.proposal .message__sub-title {
  padding: 0 0 36px 0;
}
