.services .page__info {
  margin: 140px 0 80px 0;
}

.service__elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.service__elements__card {
  border: 1px solid var(--dark);
  border-radius: 45px;
  padding: 50px;
  height: 310px;
}

.service__elements__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: left;
  width: 600px;
}

.service__elements__card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  color: var(--black);
  height: 48px;
}

.service__elements__card-info-top,
.service__elements__card-info-bottom {
  background-color: var(--green);
  border-radius: 7px;
  padding: 0 7px;
}

.service__elements__card-photo {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
}

.service__elements__card-link {
  justify-self: left;
  align-self: last baseline;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--dark);
}

.service__elements__card-link img {
  margin-right: 16px;
}

@media (max-width: 430px) {
  .services .page__title {
    margin: 0;
  }

  .services .page__info {
    flex-direction: column;
    margin: 40px 0 0 0;
  }

  .services .page__sub-title {
    margin: 30px 0 40px 0;
    width: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }

  .service__elements {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .service__elements__card {
    display: flex;
    justify-content: left;
    flex-direction: column;
    position: relative;
    width: 390px;
  }

  .service__elements__card-info-top {
    display: flex;
    font-weight: 500;
    font-size: 26px;
    width: 194px;
  }

  .service__elements__card-info-bottom {
    display: flex;
    font-weight: 500;
    font-size: 26px;
  }

  .service__elements__card-link {
    display: flex;
    width: 100%;
    margin-top: auto;
  }

  .service__elements__card-link span {
    margin: 0;
    display: none;
  }

  .service__elements__card-photo {
    position: absolute;
    width: 165px;
    height: 129px;
    bottom: 50px;
    right: 50px;
  }
}
