.team .page__sub-title {
  width: 473px;
}

.team__elements {
  display: grid;
  margin: 80px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  justify-self: left;
}

.team__elements__card {
  border: 1px solid var(--dark);
  border-radius: 45px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.team__elements__card__top {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0 0 28px 0;
  border-bottom: 1px solid black;
}

.team__elements__card__top__info {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.team__social-media {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  right: 0;
  width: 34px;
}

.team__elements__card__top__name {
  font-weight: 700;
  font-size: 20px;
}

.team__elements__card__top__prof {
  font-weight: 400;
  font-size: 18px;
}

.team__elements__card__bottom {
  margin: 28px 0 0 0;
  font-weight: 400;
  font-size: 18px;
}

.team_list {
  text-align: right;
  margin: 40px 0 0 0;
}

.team__link {
  background-color: var(--dark);
  color: var(--grey);
  border-radius: 14px;
  padding: 20px 35px;
  width: 269px;
  height: 68px;
  font-weight: 400;
  font-size: 20px;
}

@media (max-width: 430px) {
  .team .page__info {
    display: flex;
    flex-direction: column;
  }

  .team .page__title {
    margin: 0;
  }

  .team .page__sub-title {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin: 30px 0 0 0;
  }

  .team__elements {
    grid-template-columns: 1fr;
  }

  .team_list {
    text-align: center;
  }

  .team__link {
    width: 100%;
  }

  .team__social-media {
    position: absolute;
    right: 0;
  }

  .team__elements__card {
    padding: 40px 35px;
  }
}
