.testimonials .page__info {
  margin: 100px 0 80px 0;
}

.carousel-info {
  margin: 0 0 60px 0;
}

.carousel-info {
  position: relative;
  background-color: var(--dark);
  padding: 150px 0;
  border-radius: 45px;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--green);
  width: 12px;
  height: 12px;
  border-radius: 0%;
}

.carousel-indicators [data-bs-target].active {
  background-color: blue;
}

.carousel-control-next {
}

.carousel-item {
  overflow: hidden;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.card {
  position: relative;
  width: 560px;
  height: 250px;
  padding: 40px;
  transition: transform 0.3s ease;
  background-color: var(--dark);
  color: var(--grey);
  --bs-card-border-color: none;
  margin: 0 auto;

  /* padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; */
}

.card::before {
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../../assets/bubble.png") no-repeat;
  background-size: contain;
}

.card > div {
  z-index: 2;
}

.cover-card {
  position: relative;
  width: 606px;
  padding: 50px;
}

.carousel-caption {
  /* position: absolute; */
  text-align: left;
  /* width: 502px; */
  font-size: 18px;
  font-weight: 400;
  top: -20px;
  left: 0;
  display: flex;
  justify-content: left;
  padding: 52px;
  z-index: 2;
}

.card-left,
.card-right {
  /* position: absolute; */
  top: 0;
  /* width: 40%;  */
  /* Ширина для срезания половин */
}
.card-left {
  /* left: -140px;  */
  /* Сдвиг влево для срезания */
}
.card-right {
  /* right: -140px; */
  /* Сдвиг вправо для срезания */
}

.card-body {
  margin: 20px 0 0 0;
}
