.testimonials .page__info {
  margin: 100px 0 80px 0;
}

.carousel-info {
  margin: 0 0 60px 0;
}

.carousel-info {
  position: relative;
  background-color: var(--dark);
  padding: 150px 0;
  border-radius: 45px;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--green);
  width: 12px;
  height: 12px;
  border-radius: 0%;
}

.carousel-indicators [data-bs-target].active {
  background-color: blue;
}

.carousel-control-next {
}

.carousel-item {
  /* overflow: hidden; */
  padding: 4rem 0;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.card {
  position: relative;
  width: 560px;
  height: 250px;
  transition: transform 0.3s ease;
  background-color: transparent;
  color: var(--grey);
  --bs-card-border-color: none;
  margin: 0 auto;
}

.card::before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 10%;
  bottom: 16px;
  width: 2rem;
  height: 2rem;
  border: 2px solid orange;
  transform: translate(0, 100%) rotate(45deg);
}

.card::after {
  content: "";
  z-index: 3;
  position: absolute;
  left: 10%;
  bottom: 18px;
  width: 2rem;
  height: 2rem;
  /* background-color: blue; */
  background-color: var(--dark);
  transform: translate(0, 100%) rotate(45deg);
}

.card > div {
  z-index: 2;
  padding: 40px;
  height: 100%;
  width: 100%;
  background-color: var(--dark);
  border: 2px solid orange;
  border-radius: 40px;
}

.cover-card {
  position: relative;
  width: 606px;
  padding: 50px;
}

.card-left,
.card-right {
  /* position: absolute; */
  top: 0;
  /* width: 40%;  */
  /* Ширина для срезания половин */
}
.card-left {
  /* left: -140px;  */
  /* Сдвиг влево для срезания */
}
.card-right {
  /* right: -140px; */
  /* Сдвиг вправо для срезания */
}

.card-body {
  margin: 20px 0 0 0;
}
