.working-process .page__sub-title {
  width: 292px;
}

.working-process__cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 0 140px 0;
}

.working-process__cards > div:nth-child(1) {
  margin: 80px 0 0 0;
  background-color: var(--green);
}

.working-process__cards > div:nth-child(1) .working-process__card-info {
  padding: 0 0 30px 0;
}

.working-process__card {
  border: 1px solid var(--dark);
  border-radius: 45px;
  padding: 41px 60px;
  box-shadow: 0 5px 0 0 var(--dark);
}

.working-process__card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.working-process__card-info__counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
}

.working-process__card-info__title {
  margin: 0 0 0 20px;
  font-weight: 500;
  font-size: 30px;
}

.working-process__card-desc {
  padding: 30px 0 0 0;
  border-top: 2px solid black;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 430px) {
  .working-process .page__info {
    display: flex;
    flex-direction: column;
  }

  .working-process .page__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 242px;
    margin: 50px 0 30px 0;
    height: 100px;
    font-weight: 500;
    font-size: 36px;
  }

  .working-process .page__sub-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin: 0 0 30px 0;
  }

  .working-process__cards > div:nth-child(1) {
    margin: 0;
  }

  .working-process__cards {
    margin: 0 0 60px 0;
  }

  .working-process__card-info__title {
    font-weight: 500;
    font-size: 18px;
  }
}
